.ilabbotton{
    color : black;
    padding: 13%;
    background-color: white;
    border-radius: 8px;
    font-family: ITFDevanagariMarathi-Bold, ITFDevanagariMarathi;
}

.form{
 position: absolute;
 top : 25%;
}

.form .fa-search{
    position: absolute;
    top:30%;
    left: 20px;
    color: #9ca3af;

}

.form .fa-times{
    position: absolute;
    top:30%;
    right: 10px;
    color: #9ca3af; 
}

.list-group-item {
    background-color: #343a40;
    border-left: none;
    border-right: none;
}

.table-header .list-group-item{
    background-color: #343a40;
    border-left: none;
    border-right: none;
    color:grey;
}