.form{
    position: absolute;
    top : 25%;
   }
   
.form .fa-search{
    position: absolute;
    top:30%;
    left: 20px;
    color: #9ca3af;
}
   
.form .fa-times{
    position: absolute;
    top:30%;
    right: 10px;
    color: #9ca3af; 
}

.fa-home{
    color:grey;
}

.nv-item{
    color:white;
}

.card{
    background-color: #343A41;
    border-color: #9ca3af;
    padding: 3%;
}

.list-group-item{
    background-color: #343A41;
    border:none;
}